body {
    background-color: white;
    
}

.music {
    
    float:left;
}
#photos{
    margin-top: 50px;
    width:100%;
    text-align: center;     
}

#photos img {
    display: inline-block;
}

p
{
    text-align: center;
    margin-top:10px;
}

.video_space {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

video
{
    display: inline-block;
    max-height: 300px;
}